@model Student

<h1>Student</h1>

<div asp-validation-summary="All"></div>

<form method="post" asp-action="Student">
    <div class="form-group">
        <label for="firstName">FirstName</label>
        <input asp-for="@Model.FirstName" />
    </div>

    <div class="form-group">
        <label for="lastName">LastName</label>
        <input asp-for="@Model.LastName">
    </div>

    <div class="form-group">
        <label for="lastName">First year</label>
        <input asp-for="@Model.StartYear" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>